.test_page {
  padding: 20px;

  @media screen and (min-width: 768px) {
    padding: 40px 32px 0 32px;
  }
  @media screen and (min-width: 1280px) {
    padding: 40px 230px 107px;
  }
}

.title_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.44px;
  }
}

.finish_btn {
  width: 130px;
  height: 48px;
  flex-shrink: 0;
  flex-shrink: 0;
  background-color: #ff6b09;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  cursor: pointer;

  color: #fff;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;

  transition: all ease 200ms;

  &:hover {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
  }

  &:disabled {
    background: #474747c8;
  }

  @media screen and (min-width: 768px) {
    width: 181px;
    height: 48px;

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
}

.btn_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav_btn {
  width: 55px;
  height: 34px;
  flex-shrink: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-color: transparent;
  cursor: pointer;

  padding-left: 15px;
  padding-right: 15px;

  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;

  transition: all ease 200ms;

  &:hover {
    background-color: #ff6b09;
    color: #fff;
    .arrow {
      fill: #fff;
    }
  }
  &:disabled {
    background: #565656c8;
    color: white;
    .arrow {
      fill: #fff;
    }
  }

  @media screen and (min-width: 768px) {
    width: 210px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.arrow_left {
  transform: rotate(180deg);
  transform-origin: center;
}

.arrow {
  fill: #000;
  width: 24px;
  height: 24px;
}
