.form_wrapper {
  width: 280px;
  @media screen and (min-width: 768px) {
    width: 501px;
  }
  @media screen and (min-width: 1280px) {
    width: 420px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  gap: 20px;
  padding: 32px 48px;

  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(2, 23, 42, 0.1);

  p {
    color: #000;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
  }

  .validation {
    font-size: 10px;
    color: red;
  }

  @media screen and (min-width: 768px) {
    gap: 24px;

    p {
      font-size: 14px;
      letter-spacing: 0.28px;
    }

    .validation {
      font-size: 10px;
      color: red;
    }
  }
}

.input {
  width: 100%;
  height: 56px;
  flex-shrink: 0;
  border: 1px solid #ced2d1;
  padding: 20px 25px;

  color: #bbb;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.button_wrapper {
  display: flex;
  gap: 16px;
}

.button {
  width: 210px;
  height: 60px;
  flex-shrink: 1;

  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.btn_in {
  background: #ff6b09;
  border: none;
  color: #fff;
}

.btn_up {
  border: 1px solid #ced2d1;
  background: #fff;
  color: #000;
}

.validation {
  font-size: 10px;
  color: red;
}
