.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;

  @media screen and (min-width: 768px) {
    padding: 40px;
  }
}

.title_wrapper {
  text-align: center;
  width: 200px;
  padding-bottom: 32px;
  border-bottom: 1px solid #00122f35;

  @media screen and (min-width: 768px) {
    width: 320px;
  }
}

.title {
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    letter-spacing: 0.44px;
  }
}

.title_desc {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}

.answ_wrapper {
  display: flex;
  gap: 20px;
  margin-top: 32px;
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    gap: 40px;
  }
}

.correct_answ {
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2px;

  span {
    font-weight: 700;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
  }
}

.cat {
  margin-bottom: 8px;
}

.desc_list {
  text-align: center;
}

.main_message {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;

  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.44px;
  }
}

.secondary_message {
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    letter-spacing: 0.4px;
  }
}

.try_btn {
  width: 182px;
  height: 48px;
  flex-shrink: 0;
  background: #ff6b09;
  border: none;
  color: #fff;
  transition: all ease 200ms;

  &:hover {
    border: 1px solid #ff6b09;
    background-color: #fff;
    color: #000;
  }
}
